@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7fafc;
  color: #1a202c;
}

.dark body {
  background-color: #1a202c;
  color: #f7fafc;
}

.ct-btn {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

option {
  color: #1a202c;
}
